html {
    height: 100%;
  }
  
  body {
    background: linear-gradient(top, #c33764 6%, #1d2671 100%);
    background: -webkit-linear-gradient(top, #c33764 6%, #1d2671 100%);
    background: -moz-linear-gradient(top, #c33764 6%, #1d2671 100%);
    background: -o-linear-gradient(top, #c33764 6%, #1d2671 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Bree Serif', serif;
    color: white;
    font-weight: 100;
  }
  
  @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

  a, a:hover {
      text-decoration: none;
  }
  
  .socialbtns, .socialbtns ul, .socialbtns li {
    margin: 0;
    padding: 5px;
  }
  
  .socialbtns li {
      list-style: none outside none;
      display: inline-block;
  }
  
  .socialbtns .fa {
      width: 40px;
      height: 28px;
      color: rgb(13, 2, 39);
      border: 1px solid rgb(253, 247, 247);
      padding-top: 12px;
      border-radius: 22px;
      -moz-border-radius: 22px;
      -webkit-border-radius: 22px;
      -o-border-radius: 22px;
  }
  
  .socialbtns .fa:hover {
      color: #ffffff;
      background-color: rgb(150, 105, 233);
      border: 1px solid rgb(150, 105, 233);
  }
  
  h1{
      font-size: 5em;
      font-weight: bolder;
      color: rgb(245, 243, 243);
      text-align: center;
  }
  
  .typing {
    width: 50ch;
    animation: typing 3s steps(50), blink .7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
